#map{
  width: 98%;
  height: 500px;
  border: solid green;
  margin: 10px 1% 10px 1%;
}

/*
#1 = 417630
#2 = 417630
*/
a {
	color: #417630;
}
a:hover {
	color: #417630;
}

/* menu */
.nav>li>a:hover {
	color: #54ee23;
}

.navbar .navbar-nav > .active > a {
	color: #54ee23;
}
.navbar .navbar-brand:hover {
	color: #54ee23;
}

/* flexslider */
.flex-control-paging li a {
	background: #417630;
}

.flex-direction-nav a:hover{
	background-color:#417630;
}

.testimonial span.author a {
	color: #417630;
}

/* --- icon box hover --- */
.hi-icon-effect-5 .hi-icon {
	color: #417630;
	box-shadow: 0 0 0 4px #417630;
}
.no-touch .hi-icon-effect-5 .hi-icon:hover {
	background: #417630;
	box-shadow: 0 0 0 8px  #417630;
}


/* portfolio */
.portfolio-item .portfolio-desc {
	background: #417630;
}

/* btn */
.btn-theme {
  background: #417630;
}
.btn-theme:hover,.btn-theme:focus,.btn-theme:active{
  background: #417630;
}
.btn-cta,.btn-cta.btn-lg {
  background: #417630;
  border-color: #417630;
}

.btn-cta:focus,.btn-cta:active{
   border-color: #417630;
}

/* footer */
.social-circle li a {
	background:#417630;
}

a.scrollup{
	background:#417630;
}
#quick-links i{
	font-family: lucida console, monospace, sans-serif;
	font-size: 12pt;
	text-decoration: underline orange dotted;
	text-transform: uppercase;
}
#quick-links{
	list-style: none;
}
form.contactForm{
	margin-top:50px;
}
.fixed-bottom{
	clear:both;
	margin-bottom: 0;
	padding-bottom: 0;
}
.service-col .service-icon i {
    margin-left: 31px;
}
.carousel-inner img{
	max-height: 494px;;
}
